/************************************************
         Author       :  Neo 
         Date         :2016.5.11
         Project Name : a part of Car Maintenance 
     
************************************************/
html{
    width:100%;
    overflow-x:hidden;
    height:100%;
}
body{
	 text-align:left;
	 padding: 19px 15px;
	 overflow:hidden;
	 font-size: 14px;
	 position: relative;
}
/***********1--header style************************/
header.car-info{
	height: 64px;
	padding: 0 15px;
	margin-bottom: 25px;
}
img.logo{
	line-height: 64px;
	vertical-align: bottom;/****************????****/
	display: inline-block;
}
header.car-info p{
	display: inline-block;
	margin: 11px 0 0 12px;
}
header.car-info p span{
	display: block;
}
header.car-info .forward{
	border: none;
	float: right;
	height: 64px;
	width: 20px;
	background:url('../img/forward-btn.png') no-repeat 50% 50%;

}
/***********2---maintain info style************************/
.maintain-info{
	padding: 15px;
	line-height: 40px;
	margin-bottom: 25px;
}
.maintain-info label{
	display: inline-block;
	width: 20%;
	min-width: 58px;
}
.maintain-info div{
	display: inline-block;
}
.maintain-info >div{
	margin-bottom:25px;
	width: 100%;
}
.maintain-info .content{
	border:1px solid #1c9e95;
	border-radius: 6px;
	padding: 0 15px;
	width:  65%;
}
.maintain-info input{
	width:75%;
	border: none;
	color: #b1afb0;
}
.maintain-info  button{
	border: none;
	float: right;
	width: 20px;
	height: 40px;
	
}
input[name='submit']{
	width: 90%;
	height: 40px;
	margin: 0 auto;
	border-radius: 6px;
	font-size: 16px;
	display: block;
	background-color: #eaa02a;
	color: #fff;
	border: none;
}
.maintain-info .date button{
	background:url(../img/date-btn.png) no-repeat 50% 50% ;
}
.maintain-info .spot button{
	background:url(../img/spot-btn.png) no-repeat 50% 50% ;
}
.maintain-info .item button{
	background:url(../img/item-btn.png) no-repeat 50% 50% ;
}

/***********3---maintain record style************************/
.maintain-record .record{
	padding: 15px;
	position: relative;
	background-color: #fff;
}
.maintain-record .title{
	border-bottom: 1px solid #ccc;
	padding: 0 0 5px 0;
	margin-bottom: 10px;
}
.maintain-record .title h2{
	display: inline-block;
	font-weight: 500;
}
.maintain-record .title button{
	width: 86px;
	height:24px;
	float: right;
	border: none;
	border-radius: 3px;
	padding: 0 20px 0 0;
	color: #fff;
	background: #20988e url('../img/item-bg.png') no-repeat 95% 50%;
}
.maintain-record .add-record{
	height: 40px;
	width: 100%;
	font-size: 16px;
	color: #fff;
	border: none;
	border-radius: 6px;
	margin-bottom: 10px;
}
.maintain-record .forward{
	border: none;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 26px;
	right: 15px;
	background:url('../img/forward-btn.png') no-repeat 50% 50%;
}
.record-name,.record-date{
	display: block;
}
.record-info{
	padding: 10px 0;
	margin:10px 0 0 0;
	border-top: 1px solid #ccc;
}
.record-info p{
	display: block;
	position: relative;
}
.record-info p span{
	line-height: 1.8em;
	display: inline-block;
}
.record-info p span:nth-of-type(1){
    text-align: left;
    color: #b1b0b1;
    position: absolute;
    top: 0;

}
.record-info p span:nth-of-type(2){
	text-align: right;
	width: 70%;
	padding: 0 0 0 27%;

}
/***********4--item pannel style************************/
.item-pannel{
	width: 100%;
	height:100%;
	position: absolute;
	top: 0;
	left: 0;
	background:rgba(0,0,0,0.6); 
	display: none;
}
.item-select{
	width: 80%;
	margin:0 auto;
	padding: 10px 15px;
	color: #fff;
	background-color: #fff;
	position: relative;
	top: 100px;
	border-radius: 6px;
}
.item-select span{
	display: inline-block;
	padding: 5px 8px;
	margin:0 5px 5px 0;
	background: #999999 ;
	width: 24%;
	text-align: center;
	border-radius: 6px;
}
.item-select input[name='submit']{
	margin-top: 20px;
	width: 100%;

}

/***********color style************************/
header,.maintain-info{
	background-color: #fff;
}
body{
    background-color:#ecebea;
    color: #656767;
}
.maintain-info input[name='submit']{

}
.maintain-record .add-record{
	background:#20988e;
}

.maintain-record span{
	display: block;
}
.maintain-record .record .record-date{
	color:#b1b0b1;
}

